[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
plexo = {editable = true, path="."}
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-mypy = "*"
tox = "*"
wemake-python-styleguide = "*"

[packages]
capnpy = "~=0.8"
pyrsistent = "~=0.15"
pyzmq = "~=19.0"
returns = "~=0.15"
#typing_extensions = "~=3.7"

[requires]
python_version = "3.7"
